/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

/* ----- Custom Styles Start Here ----- */

html {
    color: white;
    background-color: #2f4858;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

#main-container {
    width: 100%;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
    text-transform: capitalize;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    width: 50%;
    margin: 50px auto;
}

form input {
    display: block;
    margin: 10px auto 0;
    box-sizing: border-box;
}

form #search {
    background-color: rgba(232,232,232,0.3);
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-size: 2em;
    text-align: center;
}

form #search:hover {
    background-color: rgba(232,232,232,0.4);
}

form #search:active, form #search:focus {
    background-color: rgba(232,232,232,0.6);
}

form #submit {
    background-color: rgba(232,232,232,0.7);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 30px;
    font-size: 1.5em;
}

form #submit:hover {
    background-color: rgba(232,232,232,0.9);   
}

#results {
    width: 50%;
    margin: 50px auto;
    list-style: none;
}

#results li {
    display: inline-block;
    width: 22%;
    margin: 0 4% 20px 0;
}

#results li:nth-child(4n) {
    margin-right: 0;
}

div.noimage {
    width: 184px;
    height: 277px;
    background-color: #b5b5b5;
    display: inline-block;
}

/* ----- End Custom Styles----- */

/* ----- Media Queries ----- */

@media only screen and (max-device-width: 1500px){
    /* styles for browsers smaller than 1300px; */
    #results {
        width: 60%;
    }

}

@media only screen and (max-device-width: 1300px){
    /* styles for browsers smaller than 1300px; */
    #results {
        width: 70%;
    }

}

@media only screen and (max-device-width: 1100px){
    /* styles for browsers smaller than 1100px; */
    #results {
        width: 75%;
    }

    #results li {
        width: 32%;
        text-align: center;
        margin-right: 1%;
        margin-bottom: 40px;
    }

    #results li:nth-child(4n) {
        margin-right: 1%;
    }

    #results li:nth-child(3n) {
        margin-right: 0;
    }

}

@media only screen and (max-device-width: 800px){
    /* styles for browsers smaller than 800px; */

    #results {
        width: 80%;
    }

    #results li {
        width: 49.5%;
        margin-bottom: 40px;
    }

    #results li:nth-child(3n) {
        margin-right: 1%;
    }

    #results li:nth-child(2n) {
        margin-right: 0;
    }


}

@media only screen and (max-device-width: 550px){
    /* styles for browsers smaller than 800px; */

    #results {
        width: 90%;
    }

    #results li {
        width: 100%;
        margin-bottom: 40px;
        margin-right: 0;
    }

    form {
        width: 75%;
    }

}

/* ----- End Media Queries ----- */

.group:after {
    content: "";
    display: table;
    clear: both;
}

